<div class="default-container" #defaultContainer>
  <h1>Containers</h1>
  <div class="default-card" *ngFor="let container of containers">
    <mat-card>
      <mat-card-title>{{getContainerName(container)}}</mat-card-title>
      <mat-card-content>
        <p>Nome da imagem: {{container.image}}</p>
        <p>Status do container: {{container.status}}</p>
      </mat-card-content>
      <mat-divider inset></mat-divider>
      <mat-card-actions>
        <button mat-button (click)="deleteContainer(container.id, getContainerName(container))"><mat-icon>delete</mat-icon></button>
      </mat-card-actions>
      <mat-card-footer>
        <ng-container *ngIf="container.status.includes('Up')">
          <mat-progress-bar mode="buffer"></mat-progress-bar>
        </ng-container>
      </mat-card-footer>
    </mat-card>
  </div>

  <button mat-raised-button color="warn">Excutar novo container</button>
  <button mat-raised-button (click)="openConfirmationDialog('Deseja realmente deletar todos os containers ?')" color="warn">Deletar todos containers</button>

</div>
